name: build

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: 0 0 * * *

jobs:
  build:
    name: ${{ matrix.os }} / GHC ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ghc:
          - '9.8'
          - '9.10'
          - '9.12'
          - latest
        include:
          - os: macos-latest
            ghc: system
    steps:
      - uses: actions/checkout@v4

      - uses: hspec/setup-haskell@v1
        with:
          ghc-version: ${{ matrix.ghc }}

      - run: 'echo "  ghc-options: -fwrite-ide-info" >> `cabal path --config-file -v0`'

      - run: bash <(curl -fsSL https://raw.githubusercontent.com/sol/ghc-hie-files/main/get.sh)
      - run: bash <(curl -fsSL https://raw.githubusercontent.com/sol/ghc-hie-files/main/get.sh) 9.12.2

      - uses: sol/run-haskell-tests@v2
        with:
          caching: true

      - shell: bash
        run: |
          for GHC in 9.4 9.6
          do
            ghcup install ghc $GHC --no-set
            SENSEI_GHC=ghc-$GHC $(cabal list-bin spec)
          done
        if: matrix.ghc == 'latest'

      - run: echo "name=sensei-$(uname -s)-$(uname -m).tar.gz" >> $GITHUB_OUTPUT
        id: archive

      - run: cp "$(cabal list-bin sensei)" .
      - run: cp "$(cabal list-bin seito)" .
      - run: tar cvzf ${{ steps.archive.outputs.name }} sensei seito

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.archive.outputs.name }}
          path: ${{ steps.archive.outputs.name }}
          compression-level: 0
        if: matrix.ghc == 'latest'

      - shell: bash
        run: |
          for GHC in 9.4
          do
            ghcup install ghc $GHC --no-set
            SENSEI_GHC=ghc-$GHC $(cabal list-bin spec)
          done
        if: matrix.ghc == 'latest'

      - run: vim/test/run.vim
        if: runner.os == 'Linux'

      - run: vim/test/assets/generate.sh
        if: ${{ runner.os == 'Linux' && matrix.ghc != '9.4' }}

      - run: git diff --exit-code

      - shell: bash
        run: |
          untracked=$(git ls-files --others --exclude-standard)
          if [ -n "$untracked" ]; then
            echo "Untracked files:"
            echo "$untracked"
            exit 1
          fi

  success:
    needs: build
    runs-on: ubuntu-latest
    if: always() # this is required as GitHub considers "skipped" jobs as "passed" when checking branch protection rules

    steps:
      - run: false
        if: needs.build.result != 'success'

      - uses: actions/checkout@v4
      - name: Check for trailing whitespace
        run: "! git grep -nI '[[:blank:]]$' -- . ':!vim/test/assets'"

      - run: curl -sSL https://raw.githubusercontent.com/sol/hpack/main/get-hpack.sh | bash
      - run: hpack && git diff --exit-code
      - run: cabal check --ignore=missing-upper-bounds
